/* START NORMALIZE */
h1, h2, h3, p {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
}

/* START HELPERS */
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.transition {
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.text-white-color {
    color: #FFFFFF;
}

/* START SECTIONS */
.header-row {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #666666;
}

.team-row {
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #FFFFFF;
}

.team-row .photo-container {
    text-align: center;
}

.team-row .photo-container img {
    border-radius: 50%;
    max-width: 10rem;
}

.team-row .photo-container img:hover {
    border-radius: 0;
}

.join-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #A3B88A;
}

.join-row a {
    margin-top: 2rem;
    background-color: #F7DF31;
    border: 5px solid #FFFFFF;
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: lighter;
}

.join-row a:hover {
    background-color: #A3B88A;
    color: #FFFFFF;
}
